@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
  background-color: #0e0e0e;
  color: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}
