@import "acf-sections.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
  background-color: #0e0e0e;
  color: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}

/* Reusable heading gradient component */
.heading-gold-gradient {
  background-image: linear-gradient(
    90deg,
    #f9f295 0%,
    #e0aa3e 33%,
    #faf398 66%,
    #b88a44 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
