{% extends "base.twig" %}

{% block content %}

	<div class="container">
		<h1>Bienvenue sur la page d'accueil de Monsieur Sens</h1>
		<p>Découvrez nos produits et services de qualité.</p>
	</div>

{% endblock %}
